.App {
    text-align: center;
    background-image: url("../src/assets/placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.userTitle{ 
    height: 10%;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    text-align: center;
    border-bottom: 100%;
}
.CreateNew{ 
    display: flex;
    flex-direction: row;
    gap: 10%;

}
.register{ 
    color: rgb(1, 29, 50);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: left;
    border-bottom: 100px;
    gap: 10%;
    white-space: nowrap;
    text-align: center;
    margin-top: auto;
    float: left;    color: rgb(1, 29, 50);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: left;
    border-bottom: 100px;
    gap: 10%;
    white-space: nowrap;
    text-align: center;
    margin-top: auto;
    float: left;

}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.GraphPage{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    /*background-image: url("../src/assets/placeholder.png");*/
    background-size: cover;


}
.App-full {
    /* background-color: #856727; */
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-header {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}
.RegisterForm{ 
    min-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    border-bottom: 10px;
    gap: 4vmin;
    white-space: nowrap;
    text-align: center;
    margin-top: 0vmin;
    float:right;
    align-items: flex-end;
}
.Back{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.App-body {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
}
.CreateNewButton{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 5%;
    gap: 10%;
    width: 500px;
    white-space: nowrap;
    position: relative;


}
.tab{ 
    display: inline-block;
            margin-left: 40px;
}
.Nav-bar {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-left: 2em;
}
.Nav-bar-Logout{ 
    display: flex;
    flex-direction: row;
    width: 95%;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 1% 5% 1% 5%;    /*gap: 90%;*/
    justify-content: space-between;  
    position: fixed;  
    bottom: 90%;
}


.App-link {
    color: #61dafb;
}
.GraphViewergraphsh1{ 
    color: black;
    white-space: nowrap;

}
.Graph{ 
    cursor: pointer;
    word-wrap: none;
}
/* Navigation link colors */
.Log{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    gap: 50px;

}
.Reg{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
a {
    color: #FFF;
    text-decoration: none !important;
}

a:hover {
    color: rgb(169, 247, 208)
}

.White-bg {
    background-color: #fffefe;
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 2em;
    min-width: 75vw;
}

.max-w-80 {
    max-width: 80%;
    display: initial !important;
}

.m-4 {
    
    margin: auto;
    width: 45%;
    padding: 5px;
    border-radius: 0.5em;
    color: black;
    white-space: nowrap;
}
.NoGraphText{ 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    

}

.back {
    margin: auto;
    left: 15px;
    top: 10px;
    position: absolute;
}

.Logout {
    margin: auto;
    right: 15px;
    top: 10px;
    position: absolute;
}
.cardHolder{ 
    top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200vh;
}

.App-header {
    background-color: #61dafb;
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 2em;
    min-width: 75vw;
    top: 100px;
    
    position: absolute;
}
.error{ 
    color:red;
}

.card-body {
    display: flex;
    padding: 0px;
    position: relative;
    flex-direction: column;
    cursor: pointer;

}
.card-title {
    height: auto;
}
.Submit{ 
    width: 250px;
    height: 200;
}
.Nav-bar-Back{ 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 10px 10px 100px 10px;    

    justify-content: space-between;  
}
