.App {
    text-align: center;
    background-image: url("../src/assets/placeholder.png");
    background-size: cover;
}
.register{ 
    color:rgb(1, 29, 50);
    display: flex;
    background-image: url("../src/assets/placeholder.png");
    background-size: contain;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 7vmin;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-full {
    /* background-color: #856727; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
}
.CreateNewButton{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
.tab{ 
    display: inline-block;
            margin-left: 40px;
}
.Nav-bar {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-left: 2em;
}

.App-link {
    color: #61dafb;
}

.Graph{ 
    cursor: pointer;

}
/* Navigation link colors */

a {
    color: #FFF;
    text-decoration: none !important;
}

a:hover {
    color: rgb(169, 247, 208)
}

.White-bg {
    background-color: #fffefe;
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 2em;
    min-width: 75vw;
}

.max-w-80 {
    max-width: 80%;
    display: initial !important;
}

.m-4 {
    
    margin: auto;
    width: 45%;
    padding: 5px;
    border-radius: 0.5em;
}
.NoGraphText{ 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    min-height: 4em;
    color:rgb(169, 247, 208);

}

.back {
    margin: auto;
    left: 15px;
    top: 10px;
    position: absolute;
}

.Logout {
    margin: auto;
    right: 15px;
    top: 10px;
    position: absolute;
}

.App-header {
    background-color: #61dafb;
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 2em;
    min-width: 75vw;
    top: 100px;
    position: absolute;
}

.card {
  

    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 16em;
    min-width: 300px;
    top: 250px;
    position: absolute;
    ;
}

#card1 {
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 16em;
    min-width: 320px;
    
    position: absolute;
    background-image: url("../src/assets/bar.png");
    background-size: contain;
}
#card2 {
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 16em;
    min-width: 320px;
    
    position: absolute;
    background-image: url("../src/assets/barh.png");
    background-size: contain;
}

#card3 {
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 16em;
    min-width: 320px;
    top: 600px;
    position: absolute;
    background-image: url("../src/assets/line.png");
    background-size: contain;
}

#card4 {
    border-radius: 0.5em;
    opacity: 0.95;
    min-height: 16em;
    min-width: 320px;
    top: 600px;
    position: absolute;
    background-image: url("../src/assets/pie.png");
    background-size: contain;
}
.card-title {
    height: auto;
}
